<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css"> 
	<link rel="stylesheet" type="text/css" href="~/assets/css/hexagons.min.css"> 
    <title>@ViewData["Title"] - Vertivina</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">vertivina</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                    <li style="font-weight:bold"><a asp-area="" asp-controller="Productos" asp-action="Index">Accesorios</a></li>
                    <li style="font-weight:bold"><a asp-area="" asp-controller="Home" asp-action="Contact">Veterinaria</a></li>
                    <li style="font-weight:bold"><a asp-area="" asp-controller="Home" asp-action="Cita">Cita</a></li>
                    <li style="font-weight:bold"><a asp-area="" asp-controller="Home" asp-action="Contact">Adquiere un cachorro</a></li>
                    <li style="font-weight:bold"><a asp-area="" asp-controller="Contactos" asp-action="Create">Contáctanos</a></li>
                    <li style="font-weight:bold"><a asp-area="" asp-controller="Servicios" asp-action="Index">Servicios</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
    @RenderBody()
    <footer style="background-color:#080808" style="bottom:0px">
    <br>
   
    <b> <p style="text-align:center; color:white; font-size:20px;">Síguenos en nuestras redes sociales:</p> </b>
    
                <div id="hexagon" class="col-lg-4 col-md-4 col-sm-4 col-xs-12  text-center" style="margin-bottom:15px;">
                   <a href="https://www.facebook.com/"><span class="hb hb-sm spin-icon"><i class="fa fa-facebook"></i></span></a> 
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center" style="margin-bottom:15px;">
                   <a href="https://www.twitter.com"><span class="hb hb-sm spin-icon"><i class="fa fa-instagram"></a></i></span></a> 
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center" style="margin-bottom:15px;">
                     <a href="https://www.youtube.com"><span class="hb hb-sm spin-icon"><i class="fa fa-youtube"></a></i></span></a> 
                </div>
                <div style="color:aliceblue"><p style="text-align:center"> HORARIO DE ATENCIÓN Lunes a Viernes de (8:30 a.m. a 5:30 p.m. Dirección Av. Ricardo E. Aparicio 740 Urb. Las Lagunas </p> </div>
                
                <div style="color:aliceblue"><p style="text-align:center">Teléfonos: 313-4496 (Directo) 313-4444 (Central) anexos 312</p> </div>
            <div style="color:aliceblue"> <p style="text-align:right">&copy; 2018 - Equipo de Vertivina</p> </div>
   
    </footer>    
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/hexagons.min.js" asp-append-version="true"></script>
</body>
</html>
