@model IEnumerable<vertivina.Models.Servicio>

@{
    ViewData["Title"] = "Index";


}

<style>
    .prise-box{width:100%;float:left;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;box-shadow: rgba(158,158,158,.61) 0 2px 5px 0;margin-bottom:10px;}
.prise-box img{width:100%;border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;}
.info-this{    float: left;   width: 100%;   background:#ececec;    padding: 15px;}
.left-box{width: 70%;float:left;}
.left-box a{
    background-color: #8d0104;
    color: #ffffff;
    padding: 4px 12px;
    font-size: 13px;
    margin-top: 6px;
    display: inline-block;
    }
.left-box h2{
    font-weight: normal;
    margin:0px;
    padding:0px;
    color: #000;
    text-align: left;
    font-style:italic;
    font-size: 29px;
    margin: 0;
    margin-bottom: 0;
    margin-top: -10px;
    }
.right-box-up{width: 30%;float:right;}
.blue-box span{    font-size: 12px;
    margin: 4px 5px;
    color: #fffb5f;}
.blue-box h2{margin: 2px 1px;
    font-size: 26px;
    color: #ffffff;
    font-weight: normal;}
.blue-box{box-shadow: 1px 1px 4px #797979;
    background-color: #031f5d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px 4px;
    text-align: center;
  
    width: 80px;
    float: right;
    margin-top: -29px;
    z-index: 999999;
    position: relative;}

</style>
<h2>Lista de promociones</h2>





<div class="container"> 

    <div class="row" style="background-color:whitesmoke; padding:15px;box-shadow: 0 0 20px blue;"> 
        <div class="col-md-12">  
        <form asp-controller="Servicios" asp-action="Index">
         <p>
        Buscar: <input type="text" name="SearchString">
        <input type="submit" value="Buscar" />
            </p>
            </form>


@foreach (var item in Model) {

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="prise-box">
			<img src="@Url.Content(item.Imagen)" alt="imagen" class="img-responsive">
			<div class="info-this">
				<div class="left-box">
				<h2> @Html.DisplayFor(modelItem => item.Nombre)
					 </h2>
				<a asp-action="Details" asp-route-id="@item.ID">Más detalles aqui</a>
				</div>
				<div class="right-box-up">
					<div class="blue-box">
						<span>Descuento de</span>
						<h2>50%<sup></sup></h2>
						</div>
				</div>
			</div>
			</div>
		</div>

  

}



</div>
</div>
</div>

<br> <br>

<!-- ofertas -->
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="prise-box">
			<img src="https://www.njlcvef.org/sites/default/files/styles/400x200/public/images/web-water.png?itok=qdBYR9x_" alt="sdasdas">
			<div class="info-this">
				<div class="left-box">
				<h2>Dallas</h2>
				<a href="#">Call Now</a>
				</div>
				<div class="right-box-up">
					<div class="blue-box">
						<span>Save upto</span>
						<h2>50%<sup>*</sup></h2>
						</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="prise-box">
			<img src="https://www.njlcvef.org/sites/default/files/styles/400x200/public/images/web-water.png?itok=qdBYR9x_" alt="sdasdas">
			<div class="info-this">
				<div class="left-box">
				<h2>Dallas</h2>
				<a href="#">Call Now</a>
				</div>
				<div class="right-box-up">
					<div class="blue-box">
						<span>Save upto</span>
						<h2>50%<sup>*</sup></h2>
						</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="prise-box">
			<img src="https://www.njlcvef.org/sites/default/files/styles/400x200/public/images/web-water.png?itok=qdBYR9x_" alt="sdasdas">
			<div class="info-this">
				<div class="left-box">
				<h2>Dallas</h2>
				<a href="#">Call Now</a>
				</div>
				<div class="right-box-up">
					<div class="blue-box">
						<span>Save upto</span>
						<h2>50%<sup>*</sup></h2>
						</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="prise-box">
			<img src="https://www.njlcvef.org/sites/default/files/styles/400x200/public/images/web-water.png?itok=qdBYR9x_" alt="sdasdas">
			<div class="info-this">
				<div class="left-box">
				<h2>Dallas</h2>
				<a href="#">Call Now</a>
				</div>
				<div class="right-box-up">
					<div class="blue-box">
						<span>Save upto</span>
						<h2>50%<sup>*</sup></h2>
						</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="prise-box">
			<img src="https://www.njlcvef.org/sites/default/files/styles/400x200/public/images/web-water.png?itok=qdBYR9x_" alt="sdasdas">
			<div class="info-this">
				<div class="left-box">
				<h2>Dallas</h2>
				<a href="#">Call Now</a>
				</div>
				<div class="right-box-up">
					<div class="blue-box">
						<span>Save upto</span>
						<h2>50%<sup>*</sup></h2>
						</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="prise-box">
			<img src="https://www.njlcvef.org/sites/default/files/styles/400x200/public/images/web-water.png?itok=qdBYR9x_" alt="sdasdas">
			<div class="info-this">
				<div class="left-box">
				<h2>Dallas</h2>
				<a href="#">Call Now</a>
				</div>
				<div class="right-box-up">
					<div class="blue-box">
						<span>Save upto</span>
						<h2>50%<sup>*</sup></h2>
						</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="prise-box">
			<img src="https://www.njlcvef.org/sites/default/files/styles/400x200/public/images/web-water.png?itok=qdBYR9x_" alt="sdasdas">
			<div class="info-this">
				<div class="left-box">
				<h2>Dallas</h2>
				<a href="#">Call Now</a>
				</div>
				<div class="right-box-up">
					<div class="blue-box">
						<span>Save upto</span>
						<h2>50%<sup>*</sup></h2>
						</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="prise-box">
			<img src="https://www.njlcvef.org/sites/default/files/styles/400x200/public/images/web-water.png?itok=qdBYR9x_" alt="sdasdas">
			<div class="info-this">
				<div class="left-box">
				<h2>Dallas</h2>
				<a href="#">Call Now</a>
				</div>
				<div class="right-box-up">
					<div class="blue-box">
						<span>Save upto</span>
						<h2>50%<sup>*</sup></h2>
						</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="prise-box">
			<img src="https://www.njlcvef.org/sites/default/files/styles/400x200/public/images/web-water.png?itok=qdBYR9x_" alt="sdasdas">
			<div class="info-this">
				<div class="left-box">
				<h2>Dallas</h2>
				<a href="#">Call Now</a>
				</div>
				<div class="right-box-up">
					<div class="blue-box">
						<span>Save upto</span>
						<h2>50%<sup>*</sup></h2>
						</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="prise-box">
			<img src="https://www.njlcvef.org/sites/default/files/styles/400x200/public/images/web-water.png?itok=qdBYR9x_" alt="sdasdas">
			<div class="info-this">
				<div class="left-box">
				<h2>Dallas</h2>
				<a href="#">Call Now</a>
				</div>
				<div class="right-box-up">
					<div class="blue-box">
						<span>Save upto</span>
						<h2>50%<sup>*</sup></h2>
						</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="prise-box">
			<img src="https://www.njlcvef.org/sites/default/files/styles/400x200/public/images/web-water.png?itok=qdBYR9x_" alt="sdasdas">
			<div class="info-this">
				<div class="left-box">
				<h2>Dallas</h2>
				<a href="#">Call Now</a>
				</div>
				<div class="right-box-up">
					<div class="blue-box">
						<span>Save upto</span>
						<h2>50%<sup>*</sup></h2>
						</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="prise-box">
			<img src="https://www.njlcvef.org/sites/default/files/styles/400x200/public/images/web-water.png?itok=qdBYR9x_" alt="sdasdas">
			<div class="info-this">
				<div class="left-box">
				<h2>Dallas</h2>
				<a href="#">Call Now</a>
				</div>
				<div class="right-box-up">
					<div class="blue-box">
						<span>Save upto</span>
						<h2>50%<sup>*</sup></h2>
						</div>
				</div>
			</div>
			</div>
		</div>	</div>
				</div>
<!-- fin ofertas -->