@model IEnumerable<vertivina.Models.Servicio>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de promociones</h2>





<div class="container"> 

    <div class="row" style="background-color:whitesmoke; padding:15px;box-shadow: 0 0 20px blue;"> 
        <div class="col-md-12">  
        <form asp-controller="Servicios" asp-action="Index">
         <p>
        Buscar: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
            </p>
            </form>


@foreach (var item in Model) {

    <div class="col-sm-4">  
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo ">
                    <img class="img-responsive" src="~/images/por-especie-perro.jpg" alt="...">
                    <h2> 
                         @Html.DisplayFor(modelItem => item.Nombre)
                    </h2>
                    <p>
                         @Html.DisplayFor(modelItem => item.Precio)
                    </p>
                    <p>
                        <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> 
                    </p>

                </div>


            </div>


        </div>
    </div>


}



</div>
</div>
</div>