<link href="~/css/bootstrap.min.css" rel="stylesheet">
<link href="~/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/prettyPhoto.css" rel="stylesheet">
<link href="~/css/animate.css" rel="stylesheet">
<link href="~/css/main.css" rel="stylesheet">
<link href="~/css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="~/images/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
<body>

<br><br>
	<section>
		<div class="container">
			<div class="row">							
				<div class="col-sm-9 padding-right" style="background-color:rgba(158, 233, 233, 0.788)">
					<div class="features_items">
						<h2 class="title text-center"> Buscando novio o novia....</h2>
						<h3 class="title text-center"> Es muy importante que al contactarme me dejes tus datos ..me estaré comunicando...</h3>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									     <div id="imgcomunidad">
										     <img src="images/home/BP_Mastin-napolitano.jpg" alt="" />
                                         </div>
							             <p>Mastin-napolitano</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									     <div id="imgcomunidad">
										      <img src="images/home/BP_Mastín-Tibetano.jpg" alt="" />
									    </div>
									    <p>Mastín-Tibetano</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									     <div id="imgcomunidad">
										      <img src="images/home/BP_Collie.jpg" alt="" />
									     </div>
									     <p>Collie</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									 </ul>
								 </div>
							 </div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									     <div id="imgcomunidad">
										     <img src="images/home/BP_americanvhairlesss.jpg" alt="" />
									     </div>
									     <p>Americanvhairlesss</p>
									 </div>
									<img src="images/home/sale.png" class="new" alt="" />
								 </div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								 </div>
							 </div>
						 </div>

                        <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="images/home/BP_Borzoi.jpg" alt="" />
									</div>											
										<p>Borzoi</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="images/home/BP_BostonTerrier.jpg" alt="" />			
									</div>							
									<p>BostonTerrier</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="images/home/BP_Boxer.jpg" alt="" />
									</div>
									<p>Boxer</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
								<div class="productinfo text-center">
								<div id="imgcomunidad">
									<img src="images/home/BP_airedale-terrier.jpg" alt="" />
								</div>
								<p>Airedale-terrier</p>											
								</div>	
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						</div>


						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									    <div id="imgcomunidad">
										    <img src="images/home/BP_beagle-the-pedigree.jpg" alt="" />
									    </div>
										<p>Beagle-the-pedigree</p>
									 </div>
								 </div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							 </div>
						 </div>
 
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="images/home/BP_BullTerrier.jpg" alt="" />
                                    </div>
										<p>BullTerrier</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						</div>


						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="images/home/BP_Kerry-blue-terrier.jpg" alt="" />
									</div>
									<p>Kerry-blue-terrier</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="images/home/BP_LabrelAfgano.jpg" alt="" />
									</div>
									<p>LabrelAfgano</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									    <div id="imgcomunidad">
										    <img src="images/home/BP_schnauzer-miniatura.jpg" alt="" />
									     </div>
									     <p>Schnauzer-miniatura</p>
									 </div>
									 <img src="images/home/new.png" class="new" alt="" />
								 </div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								 </div>
							 </div>
						 </div>

						 
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<div id="imgcomunidad">
											<img src="images/home/BP_American Staffordshire.jpg" alt="" />
										</div>
										<p>American Staffordshire</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								 </div>
							 </div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<div id="imgcomunidad">
											<img src="images/home/BP_Akita-Inu.jpg" alt="" />
										</div>
										<p>Akita-Inu</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								 </div>
							 </div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/home/BP_Basenji.jpg" alt="" />
										<h2>.</h2>
										<p>Basenji</p>
									 </div>
								 </div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
									</ul>
								 </div>
							 </div>
						 </div>

					 </div>
				
				 </div>
			 </div>
		 </div>
	 </section>

    <script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.scrollUp.min.js"></script>
	<script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
	
 </body>