<link href="~/css/bootstrap.min.css" rel="stylesheet">
<link href="~/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/prettyPhoto.css" rel="stylesheet">
<link href="~/css/animate.css" rel="stylesheet">
<link href="~/css/main.css" rel="stylesheet">
<link href="~/css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="~/images/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
<body>


<hr>
<br>

    
            <div class="row" >
                        <div class="col-md-8 col-sm-12 col-xs-12" style="background-color:lightgreen;padding:15px;box-shadow: 0 0 20px cyan; border-radius: 25px;">
                            
                            <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Tips para una mascota feliz:</h2>
                            <p><strong>Te damos algunos <em>tips</em> que te ayudarán a mantener tu mascota en forma y de paso, muy feliz.</strong></p>

                            <ul>
                                <li><strong>Horarios.</strong> Respeta los horarios de comida.</li>
                                <li><strong>Juegos y paseos.</strong> Fomenta la actividad física mediante paseos y juegos como correr, saltar y nadar.</li>
                                <li><strong>Raciones.</strong> Cuida la ración de comida recomendada según el peso, actividad y edad de tu mascota.</li>
                                <li><strong>Premios.</strong> Modera la cantidad y frecuencia con que le das premios como galletas, carnazas y otros alimentos extras.</li>
                                <li><strong>Comida.</strong> Evita darle de tu propia comida, por ejemplo, panes, dulces y otros alimentos que él tiende a pedirte cuando estás comiendo...</li>
                                <li><strong>Cariño.</strong> Aunque sea difícil de creer,las muestras de cariño pueden tener un impacto en la conducta de los animales,muestrale tu afecto con moderación.</li>
                            </ul>
                            <br>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                             <div class="thumbnail" style="background:lightseagreen">
                                <img class="img-responsive" src="~/images/por-especie-perro.jpg" alt="...">
                                    <div class="caption">
                            
                                     <p>Atención especialista para canes</p>
        
                                    </div>
                             </div>
                            </div>
                             <div class="col-md-4 col-sm-12 col-xs-12">
                             <div class="thumbnail" style="background:chartreuse">
                                <img class="img-responsive" src="~/images/por-especie-gato.jpg" alt="...">
                                    <div class="caption">
                                
                                     <p>Atención especialista para gatos</p>
        
                                    </div>
                             </div>
                            </div>
                             <div class="col-md-4 col-sm-12 col-xs-12">
                             <div class="thumbnail" style="background:magenta">
                                <img class="img-responsive" src="~/images/por-especie-otros.jpg" alt="...">
                                    <div class="caption">
                                
                                     <p>Atención especialista para mascotas exóticas</p>
        
                                    </div>
                             </div>
                            </div>
                            
                        </div>
                        
                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12"> 
                                <br><br><br>
                            <div class="fb-page col-sm-offset-3 col-xs-offset-2" data-href="https://es-la.facebook.com/pg/vetrondon" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://es-la.facebook.com/pg/vetrondon" class="fb-xfbml-parse-ignore"><a href="https://es-la.facebook.com/pg/vetrondon">Clínica Veterinaria Rondón</a></blockquote></div>
                            <br>
                            </div> 
           
       </div>                  

<br><br>
	<section>
		<div class="container">
			<div class="row">							
				<div class="col-sm-9 padding-right" style="background-color:rgba(158, 233, 233, 0.788)">
					<div class="features_items">
						<h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Buscando novio o novia...</h2>
						
						<h3 class="title text-center"> Es muy importante que al contactarme me dejes tus datos ..me estaré comunicando...</h3>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									     <div id="imgcomunidad">
										     <img src="images/home/BP_Mastin-napolitano.jpg" alt="" />
                                         </div>
							             <p>Mastin-napolitano</p>
									</div>
                                    <ul>
                                         <li>El mastín  napolitano  de Europa  desciende del Mastín </li>
                               			 <li>Tibetano,el más viejo exponente de la especie canina...</li>
                                		 <li>La palabra Mastín proviene del latín massivus, que </li>
                                		 <li><strong>Macho.</strong> 3años</li>
                               			 
                           			 </ul>

								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									     <div id="imgcomunidad">
										      <img src="images/home/BP_Mastín-Tibetano.jpg" alt="" />
									    </div>
									    <p>Mastín-Tibetano</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									     <div id="imgcomunidad">
										      <img src="images/home/BP_Collie.jpg" alt="" />
									     </div>
									     <p>Collie</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									 </ul>
								 </div>
							 </div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									     <div id="imgcomunidad">
										     <img src="images/home/BP_americanvhairlesss.jpg" alt="" />
									     </div>
									     <p>Americanvhairlesss</p>
									 </div>
									<img src="images/home/sale.png" class="new" alt="" />
								 </div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								 </div>
							 </div>
						 </div>

                        <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="images/home/BP_Borzoi.jpg" alt="" />
									</div>											
										<p>Borzoi</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="images/home/BP_BostonTerrier.jpg" alt="" />			
									</div>							
									<p>BostonTerrier</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="images/home/BP_Boxer.jpg" alt="" />
									</div>
									<p>Boxer</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
								<div class="productinfo text-center">
								<div id="imgcomunidad">
									<img src="images/home/BP_airedale-terrier.jpg" alt="" />
								</div>
								<p>Airedale-terrier</p>											
								</div>	
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						</div>


						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									    <div id="imgcomunidad">
										    <img src="images/home/BP_beagle-the-pedigree.jpg" alt="" />
									    </div>
										<p>Beagle-the-pedigree</p>
									 </div>
								 </div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							 </div>
						 </div>
 
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="images/home/BP_BullTerrier.jpg" alt="" />
                                    </div>
										<p>BullTerrier</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						</div>


						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="images/home/BP_Kerry-blue-terrier.jpg" alt="" />
									</div>
									<p>Kerry-blue-terrier</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="images/home/BP_LabrelAfgano.jpg" alt="" />
									</div>
									<p>LabrelAfgano</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									    <div id="imgcomunidad">
										    <img src="images/home/BP_schnauzer-miniatura.jpg" alt="" />
									     </div>
									     <p>Schnauzer-miniatura</p>
									 </div>
									 <img src="images/home/new.png" class="new" alt="" />
								 </div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								 </div>
							 </div>
						 </div>

						 
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<div id="imgcomunidad">
											<img src="images/home/BP_American Staffordshire.jpg" alt="" />
										</div>
										<p>American Staffordshire</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								 </div>
							 </div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<div id="imgcomunidad">
											<img src="images/home/BP_Akita-Inu.jpg" alt="" />
										</div>
										<p>Akita-Inu</p>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<li><a href="Contactos/Create"><i class="fa fa-plus-square"></i>Contactame</a></li>
									</ul>
								 </div>
							 </div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/home/BP_Basenji.jpg" alt="" />
										<h2>.</h2>
										<p>Basenji</p>
									 </div>
								 </div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
									</ul>
								 </div>
							 </div>
						 </div>

					 </div>
				
				 </div>
			 </div>
		 </div>
	 </section>

    <script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.scrollUp.min.js"></script>
	<script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
	
 </body>