@{
    ViewData["Title"] = "Adopcion";
}
<h2>@ViewData["Title"]</h2>
<h3>Todas las adopciones posibles</h3>

<p>Use this area to provide additional information.</p>
<p>Aqui ponemos todo relacionado a adopciones</p>