@model List<Mascota>
    
@{
    ViewData["Title"] = "Adopcion";
     Layout="~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<style>
    #info{
        background: black;
        color: beige;
        text-align: center;
        padding: 20px;
    }
    #info.contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .info-mascota{
        margin: 20px;
    }

    .info-mascota img{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 7px solid white;
    }

</style>
<div><center>
    <form asp-action="" method="GET">
    <input type="text" name="buscar" class="form-control" 
    value="@ViewBag.buscar" style="width: 300px;" placeholder="Busca que mascota adoptar"><br>
    <button type="submit" class="btn btn-primary">Buscar</button><br><br>
    </center>
</form>
</div>

<section id="info">
<h3>Para muchos de nosotros las mascotas no son simples compañeros, son miembros de la familia.</h3>
<div class="contenedor">
    <div class="info-mascota">
        <div class="col-md-offset-1 col-md-4 col-xs-4 col-sm-offset-4 col-xs-offset-3">
        <img src="../images/max.jpg"  >
        <h4>Max</h4>
        </div>
    </div>

    <div class="info-mascota">
        <img src="../images/jerry.jpg">
        <h4>Jerry</h4>
    </div>
    <br>

    <div class="info-mascota">
        <div class="col-md-offset-1 col-md-4 col-xs-4 col-sm-offset-4 col-xs-offset-3">
        <img src="../images/tom.jpg">
        <h4>Tom</h4>
        </div>
    </div>

    <div class="info-mascota">
        <img src="../images/sam.jpg" >
        <h4>Sam</h4>
    </div>
    <br>

    <div class="info-mascota">
        <div class="col-md-offset-1 col-md-4 col-xs-4 col-sm-offset-4 col-xs-offset-3">
        <img src="../images/cielo.jpg">
        <h4>Cielo</h4>
        </div>
    </div>


    <div class="info-mascota">
        <img src="../images/arom.jpg">
        <h4>Aarom</h4>
    </div>
    <br>

</div>
</section>

<div style="padding-top:15px;">
 <div class="row">
    <div  class="col-md-offset-4 col-md-4 col-xs-4 col-sm-offset-4 col-xs-offset-3" >
          <form asp-action="Create" asp-controller="Contactos">
            <input type="submit" value=" ¿Interesado? Contactanos" class="btn btn-primary">

        </form>
    
     </div>
  
 </div>
</div>


