
@{
    ViewData["Title"] = "Cita";
}
@model pangu.Models.Cita

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<head>


      

<script type="text/javascript">
$(document).ready(function(){

    $("#tc1").click(function(event){

        $('#dir').show("1000");

    })
    $("#tc2").click(function(event){

        $('#dir').hide("1000");

    })


})

</script>
</head> 
<div class="container"> 
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h1 class="center">@ViewData["Title"]</h1>
           
        </div>

    </div>

</div>

<div class="container">
   <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input type="text" placeholder="Nombre" class="form-control">
                
            </div>
            <div class="form-group">
                
                <input type="text" placeholder="Nombre de mascota" class="form-control">
                
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1 ">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-7">
                         <input type="number" placeholder="Telefono" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <select  class="form-control">
                             <option value="Fijo">Fijo</option>
                             <option value="Movil">Movil</option>
                        </select>
                    </div>

                </div>
                
               
                
                
            </div>
            <div class="form-group">
                <label for="">Doctor:</label>
                <select  class="form-control">
                    <option value="Morgan">Morgan</option>
                    <option value="Darling">Darling</option>
                </select>
                
            </div>
            <div class="form-group">
                <label for="">Horario:</label>
                 <select  class="form-control">
                    <option value="H1">12:30 A.M.</option>
                    <option value="H2">2:45 P.M</option>
                </select>
                
            </div>
            <div class="form-group">
                <input type="date" placeholder="Fecha" class="form-control">
                
            </div>
            <div class="form-group">
                 <label for="">Tipo de mascota:</label>
                 <select  class="form-control">
                    <option value="T1">Mascota 1.</option>
                    <option value="T2">Mascota 2.</option>
                </select>
                
            </div>
            <div class="form-group">
                <label for="">Tipo de cita:</label>
                 <select  class="form-control">
                    <option value="C1" id="tc1">Veterinaria</option>
                    <option value="C2" id="tc2">A domicilio</option>
                </select>
                
            </div>
            <div class="form-group" id="dir">
                <input type="text" placeholder="Dirección" class="form-control">
            </div>

        </form> 
        

        </div>

    </div>
</div>
