
@{
    ViewData["Title"] = "Cita";
    Layout="~/Views/Shared/_Layout.cshtml";
}
@model vertivina.Models.Cita

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<head>


      

<script type="text/javascript">
$(document).ready(function(){

    $(".click").click(function(event){
        if($('#dir').prop('disabled')){
             $('#dir').prop('disabled',false);
        }else{
             $('#dir').prop('disabled',true);
        }
        })

})
</script>
</head> 
<body>
<div class="container"> 
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h1 class="center">@ViewData["Title"]</h1>
           
        </div>

    </div>

</div>

<div class="containerDoc">
    <div id="slider">
        
        <div><img src="~/images/aarom.jpg" height="200px" width="200px"></div>  
        <div><img src="~/images/alvaro.jpg" height="200px" width="200px"></div>   
        <div><img src="~/images/cesar.jpg" height="200px" width="200px"></div>   
        <div><img src="~/images/julio.jpg" height="200px" width="200px"></div>    
          </div>
</div>   
<script>
      $(function(){
        $('#slider div:gt(0)').hide();
           setInterval(function(){
               $('#slider div:first-child').fadeOut(1000)
                 .next('div').fadeIn(1000)
                 .end().appendTo('#slider');

           },3000);
       })

</script>
        
  

<div class="container">
   <div class="row" >
    <div class="col-md-6 col-md-offset-3" style="background-color:peru; padding:15px;box-shadow: 0 0 20px blue;">
        <form asp-action="Create" asp-controller="Cita">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input type="text" asp-for="Nombre" placeholder="Nombre" class="form-control">
                 <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="text" placeholder="Nombre de mascota" class="form-control" asp-for="Mascota">
                 <span asp-validation-for="Mascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1 ">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-7">
                         <input type="number" placeholder="Telefono" class="form-control" asp-for="Telefono">
                    </div>
                    <div class="col-md-4">
                        <select  class="form-control" asp-for="TipoTelefono">
                             <option value="Fijo">Fijo</option>
                             <option value="Movil">Movil</option>
                        </select>
                    </div>

                </div>
                
               
                
                
            </div>
            <div class="form-group">
                <label for="">Doctor:</label>
                <select  class="form-control" asp-for="Doctor">
                    <option value="Morgan">Morgan</option>
                    <option value="Darling">Darling</option>
                </select>
                
            </div>
            <div class="form-group">
                <label for="">Horario:</label>
                 <select  class="form-control" asp-for="Hora">
                    <option value="12:30">12:30.</option>
                    <option value="14:45">14:45</option>
                </select>
                
            </div>
            <div class="form-group">
                <input type="date" placeholder="Fecha" class="form-control" asp-for="Fecha">
                
            </div>
            <div class="form-group">
                 <label for="">Tipo de mascota:</label>
                 <select  class="form-control" asp-for="TipoMascota">
                    <option value="Perro">Perro</option>
                    <option value="Gato">Gato</option>
                </select>
                
            </div>
            <div class="form-group">
                <label for="">Tipo de cita:</label>
                 <select  class="form-control" asp-for="TipoCita">
                    <option value="Cirugias" id="tc1">Cirugias</option>
                    <option value="Chequeo" id="tc2">Chequeo</option>
                    <option value="Revision" id="tc3">Revision</option>
                    <option value="PromPerros" id="tc4">Promoción perros</option>
                </select>
                
            </div>
            <div class="form-group">
                <input type="text" placeholder="Dirección" class="form-control" asp-for="Direccion" id="dir">   
                 <input type="checkbox" class="click"/> En el local     
                   </div>
             <div class="form-group" >
                <input type="submit" value="Crear" class="btn btn-outline-success" />
            </div>
        </form> 
        

        </div>

    </div>
</div>
</body>