
<script type="text/javascript">

$(document).ready(function(){
    window.setTimeout(function(){
        window.location='http://localhost:5000/Home/Index';
        }, 1000);
});

</script>


<br><br><br><br><br>    
<div style="margin-top:200px;" class="container">

<div class="row">
<div class="col-md-12" style=" padding-top:20px; background-color:lightgreen;">
    <h1 style="text-align:center;color grey;font-size:50px;">
    Bienvenido a la familia de Vertivina <br>
    Cuidamos a tus engreídos como si fueran los nuestros.
    </h1>
   <center>
    <p style="text-align:center">

        <a>@Html.ActionLink("Volver al inicio", "Index", "Home") </a> 
    </p>
    <p>
        <img style="border-radius:40px;" src="~/images/wow.jpg" class="img-responsive" >

    </p>
    </center>
</div>
</div>
</div>
