
<script type="text/javascript">

$(document).ready(function(){
    window.setTimeout(function(){
        window.location='http://localhost:5000/Home/Index';
        }, 1000);
});

</script>

<div class="container">

<div class="row">
<div class="col-md-4" style=" padding-top:20px; background-color:lightgreen;">
    <p>
    Registro confirmado con éxito

    </p>
    <p>

        Ahora mismo te redireccionaremos a la pagina principal
    </p>
    <p>
        <img style="border-radius:15px;" src="~/images/poochy.jpg" class="img-responsive" >

    </p>
</div>
</div>
</div>
