
<script type="text/javascript">

$(document).ready(function(){
    window.setTimeout(function(){
        window.location='http://localhost:5000/Home/Index';
        }, 1000);
});

</script>

<div class="container">

<div class="row">
<div class="col-md-12" style=" padding-top:20px; background-color:lightgreen;">
    <center>
    <p>
   Estimado cliente ; su queja ha sido registrada. <br>
   Dentro de poco un personal se pondrá en contacto para ayudarlo a resolver su consulta.
   <br>
    <a>@Html.ActionLink("Regresar as la página principal", "Index", "Home") </a> 
    </p>
     </center>
        <br>
   
        <center>
        <img style="border-radius:15px;padding:20px;" src="~/images/doge.jpg" class="img-responsive" >
        </center>
</div>
</div>
</div>
