
<script type="text/javascript">

$(document).ready(function(){
    this.setTimeout(function(){
        this.location.href='Index.cshtml';
        }, 4000);
});

</script>

<div class="container">

<div class="row">
<div class="col-md-4" style=" padding-top:20px; background-color:lightgreen;">
    <p>
    Confirmado. Gracias por Confiar en nosotros

    </p>
    <p>

        Ahora mismo te redireccionaremos a la pagina principal
    </p>
    <p>


    </p>
</div>
</div>
</div>
