
<br> <br>

@{
      ViewData["Title"] = "Quienes somos";
   
}	

<center>
<h2>@ViewData["Title"]</h2>
</center>

<br> <br>
<div class="container-fluid" 
style="background-image: url(../../images/imgdog.jpg);background-repeat: no-repeat;background-size: cover;
background-position: center; 
background-color:rgb(23, 247, 247,0.888); padding:30px;box-shadow: 0 0 20px blue;border-radius:25px;
padding-bottom:100px;opacity: 0.8;font-size:22px;font-weight:bold;color:black;
    ">
<p style="text-align:center">
    <br/>
    Bienvenidos a Vertivina, en nuestra veterinaria brindamos a vuestras mascotas los servicios de medicina general, cirugía, rayos X, ecografía, laboratorio clínico, contamos además con una área especialmente implementada para internamiento y la hospitalización de sus mascotas, contamos con las especialidades médicas de cardiología, oftalmologia, traumatología, fisioterapia y rehabilitación todo esto para el bienestar de sus mascotas.
Contamos con más de 5 años en el servicio veterinario conocemos las necesidades de nuestros clientes, nuestro trabajo esta enfocado en la labor social, esta experiencia nos permite ofrecerle un servicio humano, flexible y de primer calidad.</p>
     <br/><br/>
<h2 style="text-align:right;color:orange;font-weight:bold">Visión</h2>
<p style="text-align:right">Contar con un Hospital Veterinario de Especialidades único en la zona,
     con  sucursales que abarquen toda el área metropolitana, satisfaciendo la necesidad de servicios
      veterinarios para personas que buscan trato profesional y especializado.</p>
     <br/><br/>
 <h2 style="text-align:left;color:orange;font-weight:bold">Misión</h2>
 <p style="text-align:left">Proporcionar servicios integrales de la más alta calidad 
     para las mascotas a través de sistemas preventivos, emergentes y de medicina 
     interna para así mejorar la salud de las personas incrementando la 
     relación Humano-Animal.</p>
     <br/>
 <h3 style="text-align:center;font-weigth:bold;color:black;">Para más información, puedes hacer más consultas en:</h3>
<address style="text-align:center">
    <strong>Soporte:</strong> <a href="mailto:Support@example.com">Support@outlook.com</a><br />
    <strong>Dudas:</strong> <a href="mailto:Marketing@example.com">Marketing@gmail.com</a><br />
    <strong>Contactenos </strong><a asp-controller="Home" asp-action="Cita">Aquí</a>
</address>

</div>
