@{
    ViewData["Title"] = "Veterinaria";
    ViewData["Message"] = "Quienes somos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Ab similique tempora harum voluptatum? Porro excepturi possimus reprehenderit aperiam c
    onsequatur odit eligendi pariatur ut voluptates aut consectetur hic,
     veritatis rem incidunt.</p>
     <br/>


<h3>Vision</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Ab similique tempora harum voluptatum? Porro excepturi possimus reprehenderit aperiam c
    onsequatur odit eligendi pariatur ut voluptates aut consectetur hic,
     veritatis rem incidunt.</p>
     <br/>

<h3>Mision</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Ab similique tempora harum voluptatum? Porro excepturi possimus reprehenderit aperiam c
    onsequatur odit eligendi pariatur ut voluptates aut consectetur hic,
     veritatis rem incidunt.</p>
     <br/>

<h4>Para más informacion, puedes hacer más consultas en:</h4>
<address>
    <strong>Soporte:</strong> <a href="mailto:Support@example.com">Support@outlook.com</a><br />
    <strong>Dudas:</strong> <a href="mailto:Marketing@example.com">Marketing@gmail.com</a><br />
    <strong>Dudas:</strong><a></a>
</address>
