@{
    ViewData["Title"] = "Faq";
     Layout="~/Views/Shared/_Layout.cshtml";
}

@model vertivina.Models.Faq
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>



<!doctype html>
<html lang="en">
<head>

	<!--     Fuentes e iconos con CDN // conectado a internet vertivina    -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    
   
   <!--CSS EN LINEA STYLE-->
    <style>
    
.panel-group {
    margin-bottom: 0;
}
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
}
.panel-group .panel .panel-heading {
    padding: 0;
}
.panel-group .panel .panel-heading h4 a {
    background: #f6f9fc;
    display: block;
    font-size: 15px;
    line-height: 20px;
    padding: 15px;
    text-decoration: none;
    transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:hover, .panel-group .panel .panel-heading h4 a:not(.collapsed) {
    /*background: #fff;*/
    transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
    content: "-";
    font-size: 30px;
    line-height: 10px;
}
.panel-group .panel .panel-heading h4 a i {
    color: #999;
    font-size: 12px;
}
.panel-group .panel .panel-body {
    padding-top: 0;
}
.panel-group .panel .panel-heading + .panel-collapse > .list-group,
.panel-group .panel .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}
.panel-group .panel + .panel {
    border-top: none;
    margin-top: 0;
}

.fondopantalla{
    background-image: url(images/aarom.jpg);
}

    </style>
</head>

<body class="fondopantalla">
   <div class="container">
    <div class="row" >
        <div class="text-center">
            <h2>PREGUNTAS FRECUENTES</h2>
        </div> 
    </div> 
	<div class="row" >
		<div class="col-md-6">
                                <div class="pxlr-club-faq" >
                                    <div class="content">
                                        <div class="panel-group" id="accordion" role="tablist"
                                             aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingOne" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseOne"
                                                           aria-expanded="false" aria-controls="collapseOne">01.
                                                            PREGUNTA 1<i
                                                                    class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"
                                                     aria-labelledby="headingOne">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, aliquam, perferendis minima quo, odio incidunt natus tempora nobis deserunt nisi ut amet quas error! Numquam, optio! Illo, temporibus doloribus dolor! </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingTwo" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseTwo"
                                                           aria-expanded="false" aria-controls="collapseTwo">
                                                            PREGUNTA 2 <i
                                                                    class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel"
                                                     aria-labelledby="headingTwo">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magni quis at eligendi! Animi odit ipsum aliquam dicta facere, blanditiis fugit atque! Amet excepturi expedita consequuntur, in nam nemo aperiam. </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingThree" role="tab">
                                                    <h4 class="panel-title"><a class="collapsed" role="button"
                                                                               data-toggle="collapse"
                                                                               data-parent="#accordion"
                                                                               href="#collapseThree"
                                                                               aria-expanded="false"
                                                                               aria-controls="collapseThree">PREGUNTA 3 <i
                                                                    class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseThree" role="tabpanel"
                                                     aria-labelledby="headingThree">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem temporibus ducimus amet debitis asperiores error commodi ipsam veritatis animi nobis vel eos fuga in, sapiente dicta at itaque dolores distinctio.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        <div class="col-md-6">
                                <div class="pxlr-club-faq">
                                    <div class="content">
                                        <div class="panel-group" id="accordion" role="tablist"
                                             aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingFour" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseFour"
                                                           aria-expanded="false" aria-controls="collapseFour">
                                                           PREGUNTA 4 <i
                                                                    class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseFour" role="tabpanel"
                                                     aria-labelledby="headingFour">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore repudiandae impedit illo laborum a excepturi voluptatibus quaerat, voluptatum iure officiis, esse sunt magni fugit suscipit cum, perferendis numquam, temporibus rerum. </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingFive" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseFive"
                                                           aria-expanded="false" aria-controls="collapseFive">
                                                           PREGUNTA 5 <i
                                                                    class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseFive" role="tabpanel"
                                                     aria-labelledby="headingFive">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis doloremque aperiam laudantium sit fugit esse praesentium. Incidunt, labore totam blanditiis quia magnam quidem, ut itaque ab ipsum qui, doloribus tenetur. </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingSix" role="tab">
                                                    <h4 class="panel-title"><a class="collapsed" role="button"
                                                                               data-toggle="collapse"
                                                                               data-parent="#accordion"
                                                                               href="#collapseSix" aria-expanded="false"
                                                                               aria-controls="collapseSix">PREGUNTA 6<i
                                                                    class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseSix" role="tabpanel"
                                                     aria-labelledby="headingSix">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic officiis autem quisquam quasi commodi optio. Mollitia sint autem quod harum labore quia placeat commodi voluptatibus, atque, magnam velit nulla, ut.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                
                           
                           
                           
	</div>
</div>
	

</html>
<div class="row" style="background-color:lightpink;margin-top:30px;border-radius:45px;opacity: 0.7;">
<div class="col-md-offset-2 col-md-7">
 <center style="margin-top:100px;">
     <div class="embed-responsive embed-responsive-4by3">
                                     <iframe style="padding:60px;padding-bottom:140px;" width="560" height="315" src="https://www.youtube.com/embed/sWOKuxZ84_k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
                            </center>
       <form asp-action="Faq" asp-controller="Home" class="form-group" >
                            <div class="col-md-offset-2 col-md-6">
                                Tu nombre:<input type="text" class="form-control" asp-for="contactoNombre">
                                Correo:<input type="email" asp-for="email" class="form-control">
                                Cuentanos tu queja:<textarea asp-for="msj" id="" cols="30" rows="10" placeholder="ingrese msj" class="form-control">

                                </textarea>
                                <br>
                                <input type="submit" name="btnEnviar" value="enviar">
                            </div>
                    </form>  
</div>
</div>
</body>
