

@{
      ViewData["Title"] = "Quienes somos";
   
}	
<h2>@ViewData["Title"]</h2>

<head>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.2';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</head>

 
<center>
 <form>
    <h2>FORMULARIO DE LOGIN</h2>
    <input type="text" placeholder="&#128272; Usuario" name="usuario">
    <input type="password" placeholder="&#128272; Contraseña" name="clave">
    <input type="submit" value="Ingresar">

    <br><br><br>
    <div class="fb-login-button" data-max-rows="1" data-size="small" data-button-type="login_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="true"></div>
    
 </form>
 </center>

 <br> <br>

 
     


