@{
    ViewData["Title"] = "Menu de usuario";
}
<h2>@ViewData["Title"]</h2>




<div class="container">
 <div class="row main" style="background-color:lightgreen; padding:20px; box-shadow: 0 0 20px lightgreen;">

      <div class="col-md-3"  style="background-color:rgb(12,83,50); padding:10px; border-radius:25px;">
          <center>
          <p style="color:white;">Opciones</p>
          </center>
          <div class="list-group">

          <form asp-action="ListaCita">
                <input type="submit" value="Lista de citas" class="btn btn-primary form-control">
            </form>
            <form asp-action="ListaAdopcion">
                <input type="submit" value="Lista de adopciones" class="btn btn-primary form-control">
            </form>
         </div>
        
      </div>
 </div>


</div>

