@model vertivina.Models.Registrar


<center>
<h2>@ViewData["Title"]</h2>
</center>

<div class="container">
			<div class="row main">
                <div class="col-md-3"></div>
                <div class="col-md-6">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Vertivina</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" asp-action="Registrar">
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nombres y Apellidos</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" asp-for="names" placeholder="Ingresa nombres completos"/>
									<span asp-validation-for="names" class="text-danger"></span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input asp-for="email" type="text" class="form-control"   placeholder="Ingresa tu Email"/>
									<span asp-validation-for="email" class="text-danger"></span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Nombre de usuario</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input asp-for="user" type="text" class="form-control"   placeholder="Ingresa tu nombre de usuario"/>
									<span asp-validation-for="user" class="text-danger"></span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input asp-for="pass" type="password" class="form-control"   placeholder="Ingresa tu Password"/>
									<span asp-validation-for="pass" class="text-danger"></span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirmar Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input asp-for="pass2" type="password" class="form-control"   placeholder="Confirmar tu Password"/>
									<span asp-validation-for="pass2" class="text-danger"></span>
								</div>
							</div>
						</div>  <!-- sss -->

						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Registrar</button>
						</div>
                        <center>
						<div class="login-register">
				            <a>@Html.ActionLink("Volver a loguearse", "Login", "Home") </a> 
				         </div>
                         </center>
					</form>
                </div>
                    <div class="col-md-3"></div>
				</div>
			</div>
		</div>