
@{
    ViewData["Title"] = "Servicio";
}

<h1>@ViewData["Message20"]</h1>

<div class="body-content">

  <br>
<div class="row" style="padding:15px;box-shadow: 0 0 20px blue;">
     <div class="thumbnail col-md-offset-1 col-md-5 col-sm-12  col-xs-12" style="opacity:0.7">
            <div class="caption">
                <h3 style="text-align:center">Peluqueria para Mascotas</h3>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero adipisci magni dicta dolorem molestias, corrupti illo voluptatum, sequi laborum nihil praesentium commodi provident ad culpa illum pariatur debitis, a possimus.</p>
            </div>
    </div>
     <div class="col-md-offset-1 col-md-4 col-xs-4 col-sm-offset-4 col-xs-offset-3" >
        <img class="ef" src="~/images/cuatro.jpg" alt="...">
    </div>
 </div>  
 <br>
 <div class="row" style="background-color: rgb(187, 226, 183);box-shadow: 0 0 20px rgb(32, 245, 4);padding:15px;">
     <div class="thumbnail col-md-offset-1 col-md-5 col-sm-12  col-xs-12" style="opacity:0.7">
            <div class="caption">
                <h3 style="text-align:center">Cirugia</h3>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero adipisci magni dicta dolorem molestias, corrupti illo voluptatum, sequi laborum nihil praesentium commodi provident ad culpa illum pariatur debitis, a possimus.</p>
            </div>
    </div>
     <div class="col-md-offset-1 col-md-4 col-xs-4 col-sm-offset-4 col-xs-offset-3" >
        <img class="ef" src="~/images/cuatro.jpg" alt="...">
    </div>
 </div>  
 <br>
 <div class="row" style="background-color: rgb(243, 191, 191);box-shadow: 0 0 20px rgb(245, 4, 4);padding:15px;">
     <div class="thumbnail col-md-offset-1 col-md-5 col-sm-12  col-xs-12" style="opacity:0.7">
            <div class="caption">
                <h3 style="text-align:center">Consultas de Especialidad</h3>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero adipisci magni dicta dolorem molestias, corrupti illo voluptatum, sequi laborum nihil praesentium commodi provident ad culpa illum pariatur debitis, a possimus.</p>
            </div>
    </div>
     <div class="col-md-offset-1 col-md-4 col-xs-4 col-sm-offset-4 col-xs-offset-3" >
        <img class="ef" src="~/images/cuatro.jpg" alt="...">
    </div>
 </div>  
 <br>
 <div class="row" style="background-color: rgb(245, 247, 178);box-shadow: 0 0 20px rgba(240, 255, 35, 0.993);padding:15px;">
     <div class="thumbnail col-md-offset-1 col-md-5 col-sm-12  col-xs-12" style="opacity:0.7">
            <div class="caption">
                <h3 style="text-align:center">Internamientos</h3>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero adipisci magni dicta dolorem molestias, corrupti illo voluptatum, sequi laborum nihil praesentium commodi provident ad culpa illum pariatur debitis, a possimus.</p>
            </div>
    </div>
     <div class="col-md-offset-1 col-md-4 col-xs-4 col-sm-offset-4 col-xs-offset-3" >
        <img class="ef" src="~/images/cuatro.jpg" alt="...">
    </div>
 </div>  
 <br>
 <div class="row" style="background-color: rgb(241, 220, 163);box-shadow: 0 0 20px rgb(245, 189, 4);padding:15px;">
     <div class="thumbnail col-md-offset-1 col-md-5 col-sm-12  col-xs-12" style="opacity:0.7">
            <div class="caption">
                <h3 style="text-align:center">Laboratorio</h3>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero adipisci magni dicta dolorem molestias, corrupti illo voluptatum, sequi laborum nihil praesentium commodi provident ad culpa illum pariatur debitis, a possimus.</p>
            </div>
    </div>
     <div class="col-md-offset-1 col-md-4 col-xs-4 col-sm-offset-4 col-xs-offset-3" >
        <img class="ef" src="~/images/cuatro.jpg" alt="...">
    </div>
 </div>      

</div>